
@{
    ViewBag.Title = "Index";
}

<h2>Category</h2>

@foreach (var post in ViewBag.Posts)
{
    <h1>@post.Title</h1>
    <p>@post.Content</p>
    <p>@post.Created_at</p>
    <p>@post.Category.Category_name</p>
    <input type="button" value="Show Post" onclick="location.href='/Posts/Show/@post.Post_id'" />
}
<br />
<br />
<input type="button" value="Create Post" onclick="location.href='/Posts/New'" />