@model DAWProject.Models.Post
@{
    /**/

    ViewBag.Title = "Posts";
    ViewBag.Count = 0;
}


<form class="searchbar" action="/Posts/Index/@ViewBag.CategoryId" method="post">
    <div class="input-group">
        <input id="searching" name="searching" type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" value="Search">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
</form>

<div class="sortdropdown">
    <button class="dropbtn">
        Sort Posts
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/Posts/Index/@ViewBag.CategoryId/new/@ViewBag.CurrentSearch">new</a>
        <a href="/Posts/Index/@ViewBag.CategoryId/old/@ViewBag.CurrentSearch">old</a>
        <a href="/Posts/Index/@ViewBag.CategoryId/categ/@ViewBag.CurrentSearch">category</a>
        <a href="/Posts/Index/@ViewBag.CategoryId/popular/@ViewBag.CurrentSearch">popular</a>
    </div>
</div>
<br />
<br />
@if (@ViewBag.Category != null)
{
    <h2 class="text-center">@ViewBag.Category.CategoryName</h2>
}
else
{

}
<br />

@if (false)
{
    <a class="btn btn-primary" href="/Posts/New">Add Post</a>
    <br />
    <br />
}


@foreach (DAWProject.Models.Post post in ViewBag.Posts)
{
    <a href="/Posts/Show/@post.PostId" class="post">
        <div class="panel panel-default">

            @Html.Partial("PostInfo", post)

        </div>
    </a>
    ViewBag.Count += 1;
}
@if (ViewBag.Count == 0)
{
    <h2 class="text-center">No matching results</h2>
}
@if (User.IsInRole("Admin") && @ViewBag.Category != null)
{
    <a class="btn btn-primary" href="/Categories/Edit/@ViewBag.Category.CategoryId">Edit Category</a>
    <br />
    <br />
}