@model DAWProject.Models.Post
@if (@ViewBag.Category != null)
{
    <h2>@ViewBag.Category.CategoryName</h2>
}
else
{
    <h2>@ViewBag.Title</h2>
}
<a class="btn btn-primary" href="/Categories/Index">Back to Categories</a>
<a class="btn btn-primary" href="/Posts/New">Add Post</a>
<br />

@foreach (DAWProject.Models.Post post in ViewBag.Posts)
{
    <div class="panel panel-default">
        @Html.Partial("PostInfo", post)
        <div class="panel-footer">
            <a class="btn btn-sm btn btn-success" href="/Posts/Show/@post.PostId">Show Post</a>
        </div>
    </div>
}
