
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Category</h2>

<form method="post" action="/Categories/Edit/@ViewBag.Category.Category_id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Category Name</label>
    <input type="text" value="@ViewBag.Category.category_name" name="Category_name" />
    <br />
    <br />
    <button type="submit">Edit Category</button>
</form>
<br />
<form method="post" action="/Categories/Delete/@ViewBag.Category.Category_id">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Delete</button>
</form>
