@{
    ViewBag.Title = "Edit";
}
<br />
<a class="btn btn-primary" href="/Categories/Index">Back</a>
<br />

<h2>Edit Category</h2>
<form method="post" action="/Categories/Edit/@ViewBag.Category.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Category Name</label>
    <input type="text" value="@ViewBag.Category.CategoryName" name="CategoryName" />
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Edit Category</button>
</form>
<br />
<form method="post" action="/Categories/Delete/@ViewBag.Category.CategoryId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button class="btn btn-primary" type="submit">Delete</button>
</form>
<br />