
@{
    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>
<input type="button" value="Show all Posts" onclick="location.href='/Posts/Index'" />

@foreach (var category in ViewBag.Categories)
{
    <h1>@category.CategoryName</h1>
    <input type="button" value="Show Posts from Category" onclick="location.href='/Posts/Index/@category.CategoryId'" />
    <input type="button" value="Edit Category" onclick="location.href='/Categories/Edit/@category.CategoryId'" />
}
<br />
<br />
<input type="button" value="Create Category" onclick="location.href='/Categories/New'" />
