@model DAWProject.Models.Post
@{
    /**/

    ViewBag.Title = "Categories";
}

<div class="row">
    <a class="allcategorybox col-xs-12 row-style" href="/Posts/Index">Show all posts</a>
    @foreach (var category in ViewBag.Categories)
    {
        <a class="categorybox col-xs-6 row-style" href="/Posts/Index/@category.CategoryId">
            <h1>@category.CategoryName</h1>
            @if (User.IsInRole("Admin") && false)
            {
                <a class="btn btn-primary" href="/Categories/Edit/@category.CategoryId">Edit</a>
            }
        </a>
    }
</div>
<br />
