
@{
    /**/

    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>
<a class="btn btn-primary" href="/Posts/Index">Show all posts</a>
@foreach (var category in ViewBag.Categories)
{
    <h1>@category.CategoryName</h1>
    <a class="btn btn-primary" href="/Posts/Index/@category.CategoryId">Show Posts from Category</a>
    <a class="btn btn-primary" href="/Categories/Edit/@category.CategoryId">Edit Category Name</a>
}
<br />
<br />
<a class="btn btn-primary" href="/Categories/New">Create Category</a>
